<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.listok.zssk.zssklistok">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectTownsActivity" />
        <activity android:name=".SelectTrainActivity" />
        <activity android:name=".SelectPassengerTypeActivity" />
        <activity android:name=".SelectPassengerInfoActivity" />
        <activity android:name=".SelectFinishPayActivity" />
        <activity android:name=".MyTicketsActivity" />

        <activity android:name=".TestActivity"></activity>
        <application android:name=".YourApplication"/>
    </application>

</manifest>